#body_inner {
	width:960px;
}

#header_inner,
#content_inner,
#footer_inner,
#sub_footer_inner,
.inner
{
	width:900px;
	padding-left:30px;
	padding-right:30px;
}

.right_sidebar #main, .left_sidebar #main {
	width:600px;
	overflow:hidden;
}

.right_sidebar #main_inner {
	width:600px;
}

.left_sidebar #main_inner {
	width:600px;
}

.right_sidebar #sidebar {
	padding-left:630px;
}

.right_sidebar #content {
    background:url('../../images/assets/sidebar_repeater.png') 650px 0 repeat-y;
}

.left_sidebar #sidebar
{
    position: relative;
    padding-right: 630px;
    z-index: 1
}

.left_sidebar #content {
    background: url('../../images/assets/left_sidebar_repeater.png') -160px 0px repeat-y
}

#slider_module {
	width:600px;
}

#slider_module_inner
{
    width: 600px
}


#alli_nivo_slider {
	width: 600px;
}

#alli_nivo_slider .nivo-controlNav a {

	width: 90px;
	height: 60px;
	font-size: 0px;
	text-indent: -9999px;
	overflow: hidden;
	margin-right: 12px;
}


#alli_nivo_slider .nivo-controlNav a img {
	width:90px;
	height: 60px;
}