body {
	width:100%;
}

#body_inner {
	 -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

  	width:100%!important;
  	max-width:100%;
}

#header_inner,
#content_inner,
#footer_inner,
#sub_footer_inner,
.inner
{
    position: relative;
    min-width: 960px; max-width: 1195px;
    margin: 0 auto; 
    padding-left:10px;
    padding-right:10px;
}

#content_inner {
	padding-top:0;
}

#content {
	padding-top:35px;
}

.right_sidebar #content, .left_sidebar #content {
    background:none!important;
}

#sidebar h4 span {
	background:#fff;
}

.right_sidebar #sidebar {
	background:url('../../images/assets/sidebar.png') 745px 0 repeat-y;
}

.left_sidebar #sidebar_inner {
	background:url('../../images/assets/sidebar.png') 100% 0 repeat-y;	
}

.left_sidebar #content {
	padding-top:15px;
}
