.right_sidebar #sidebar {
	padding-left:0!important;
	margin-left:5px!important;
	float:right;
}

.left_sidebar #sidebar {
	float:left;
	padding-right:0!important;
	margin-right:5px!important;
}

.widget_search {
	position:relative;
}

#searchsubmit {
	position:relative!important;
	top:-32px!important;
}

#searchform div {
	display:inline;
}

#comments {
	clear:none;
}

#commentlist li {
	clear:none;
}

#respond { 
	clear:none;
}

#slider_module {
	clear:none;
}

#content {
	margin-top:20px;
}

#main_menu {
	position:relative;
	z-index:10!important;
}

.main_navigation ul ul {
	z-index:100!important;
}

.alli_preloader img, .alli_preloader_large img, .alli_contact_feedback img {
	display:none;
	
}

a.image_load {

}

#alli_nivo_slider .nivo-controlNav a
{
	margin-right:10px;
}

#content {
	padding-top:25px;
	margin-top:-20px;
}

.main_navigation ul ul {
	box-shadow:none;
	left:-3px;
}




.alli_form_row {
	clear:both;
	float:left;
	width:100%;
}

.alli_contact_form_widget .name_row label, .alli_contact_form_widget .email_row label, .alli_contact_form_widget .captcha_row label {
	float:left;
	width:70px;
	margin-top:0;
}

.alli_contact_form_widget .textfield {
	float:left;
}

#respond .textfield label {
	margin-top:-3px;
}

.blog_tabs_content .post_grid {
	height:180px;
}



#main_inner .post_list_content {
	margin-top:-20px;
}

/*sorry IE users!*/
#breadcrumbs {
	display:none;
}

.main_navigation {
	height:50px;
}