/* PROXIMA NOVA */

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Reg-webfont.eot');
    src: url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Reg-webfont.eot?iefix') format('eot'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Reg-webfont.woff') format('woff'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Reg-webfont.ttf') format('truetype'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Reg-webfont.svg#webfonttLdMzI8n') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaSemibold';
    src: url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Sbold-webfont.eot');
    src: url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Sbold-webfont.eot?iefix') format('eot'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Sbold-webfont.woff') format('woff'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Sbold-webfont.ttf') format('truetype'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Sbold-webfont.svg#webfont0AWgWg75') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Bold-webfont.eot');
    src: url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Bold-webfont.eot?iefix') format('eot'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Bold-webfont.woff') format('woff'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Bold-webfont.ttf') format('truetype'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Bold-webfont.svg#webfontgrewrCss') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaBlack';
    src: url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Black-webfont.eot');
    src: url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Black-webfont.eot?iefix') format('eot'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Black-webfont.woff') format('woff'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Black-webfont.ttf') format('truetype'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Black-webfont.svg#webfontXdRFrYlH') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaExtrabold';
    src: url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Xbold-webfont.eot');
    src: url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Xbold-webfont.eot?iefix') format('eot'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Xbold-webfont.woff') format('woff'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Xbold-webfont.ttf') format('truetype'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Xbold-webfont.svg#webfontwKb08SEd') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaThin';
    src: url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Thin-webfont.eot');
    src: url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Thin-webfont.eot?iefix') format('eot'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Thin-webfont.woff') format('woff'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Thin-webfont.ttf') format('truetype'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/ProximaNova-Thin-webfont.svg#webfontFl2IlMVK') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaCondensedSemibold';
    src: url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/Proximanovacond-semibold-webfont.eot');
    src: url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/Proximanovacond-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/Proximanovacond-semibold-webfont.woff') format('woff'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/Proximanovacond-semibold-webfont.ttf') format('truetype'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/Proximanovacond-semibold-webfont.svg#ProximaNovaCondensedSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaCondensedRegular';
    src: url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/Proximanovacond-regular-webfont.eot');
    src: url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/Proximanovacond-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/Proximanovacond-regular-webfont.woff') format('woff'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/Proximanovacond-regular-webfont.ttf') format('truetype'),
         url('http://24e58906c75bc7587f24-8c1f1d4d1f2574e4cd164a0f2a6bcea0.r80.cf2.rackcdn.com/Proximanovacond-regular-webfont.svg#ProximaNovaCondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* CAECILIA */



@font-face {
    font-family: 'CaeciliaRegular';
    src: url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-roman-webfont.eot');
    src: url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-roman-webfont.woff') format('woff'),
         url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-roman-webfont.ttf') format('truetype'),
         url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-roman-webfont.svg#CaeciliaLTStd55Roman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CaeciliaLightItalic';
    src: url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-lightitalic-webfont.eot');
    src: url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-lightitalic-webfont.woff') format('woff'),
         url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-lightitalic-webfont.ttf') format('truetype'),
         url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-lightitalic-webfont.svg#CaeciliaLTStd46LightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CaeciliaLight';
    src: url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-light-webfont.eot');
    src: url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-light-webfont.woff') format('woff'),
         url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-light-webfont.ttf') format('truetype'),
         url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-light-webfont.svg#CaeciliaLTStd45Light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CaeciliaItalic';
    src: url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-italic-webfont.eot');
    src: url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-italic-webfont.woff') format('woff'),
         url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-italic-webfont.ttf') format('truetype'),
         url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-italic-webfont.svg#CaeciliaLTStd56Italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CaeciliaHeavy';
    src: url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-heavy-webfont.eot');
    src: url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-heavy-webfont.woff') format('woff'),
         url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-heavy-webfont.ttf') format('truetype'),
         url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-heavy-webfont.svg#CaeciliaLTStd85Heavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CaeciliaBold';
    src: url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-bold-webfont.eot');
    src: url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-bold-webfont.woff') format('woff'),
         url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-bold-webfont.ttf') format('truetype'),
         url('http://e0e27bafaf0072ba2f8c-bb1c6efebdb12b407e76d1c07e45f450.r96.cf2.rackcdn.com/caecilialtstd-bold-webfont.svg#CaeciliaLTStd75Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* PICTOS */



@font-face {
    font-family: 'Pictos';
    -webkit-font-smoothing: antialiased;
    src: url('http://c2dcc842ffcd18c0eeb4-daf5ff8f674efc0312f1116f0a281bf2.r98.cf2.rackcdn.com/pictos-webfont.eot');
    src: url('http://c2dcc842ffcd18c0eeb4-daf5ff8f674efc0312f1116f0a281bf2.r98.cf2.rackcdn.com/pictos-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://c2dcc842ffcd18c0eeb4-daf5ff8f674efc0312f1116f0a281bf2.r98.cf2.rackcdn.com/pictos-webfont.woff') format('woff'),
         url('http://c2dcc842ffcd18c0eeb4-daf5ff8f674efc0312f1116f0a281bf2.r98.cf2.rackcdn.com/pictos-webfont.ttf') format('truetype'),
         url('http://c2dcc842ffcd18c0eeb4-daf5ff8f674efc0312f1116f0a281bf2.r98.cf2.rackcdn.com/pictos-webfont.svg#PictosRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.pictos {font-family: 'Pictos'; font-weight: normal;font-style: normal;-webkit-font-smoothing: antialiased;}

.modernpics {font-family: 'ModernPics'; font-weight: normal;font-style: normal;-webkit-font-smoothing: antialiased;}
