



#submit:hover,
.styled_button:hover,
.button_link:hover,
#searchsubmit:hover,
a.post_more_link:hover
{
	/*:Secondary Color*/
	background-color: #47a0e0!important;
}
.widget_tag_cloud a:hover
{
	/*:Secondary Color*/
	background-color: #ddd!important;
}



/*:Global Typography ~*~*/
body {
	/*:body Font*/
	color:#333;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	font-family:"Lucida Grande", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1 {
	/*:h1 Font*/ 
	/*color:#444@;*/
	font-size:36px;
	font-weight:normal;
	font-style:normal;
	font-family:ProximaNovaThin, sans-serif;
}

h2 {
	/*:h2 Font*/ 
	color:#444;
	font-size:23px;
	font-weight:normal;
	font-style:normal;
	font-family:CaeciliaRegular, sans-serif;
}

h3 {
	/*:h3 Font*/ 
	color: #444;
font-size: 18px;
font-weight: normal;
font-style: normal;
font-family: CaeciliaRegular, sans-serif;
}


h4 {
	/*:h4 Font*/ 
	color:#333;
	font-size:18px;
	font-weight:normal;
	font-style:normal;
	font-family:ProximaNovaThin, sans-serif;
}

h5 {
	/*:h5 Font*/ 
	color:#444;
	font-size:14px;
	font-weight:normal;
	font-style:normal;
	font-family:ProximaNovaThin, Arial, sans-serif;
}

h6 {
	/*:h6 Font*/ 
	color:#666;
	font-size:12px;
	font-weight:normal;
	font-style:normal;
	font-family:Tahoma, Geneva, Arial, sans-serif;
}

a {
	/*:Link*/
	color:#4292cb;
	text-decoration:none;
}

a:hover {
	/*:Link Hover*/
	/*color:#aaa@;*/
	text-decoration:underline;
}

/*:Typo End ~*~*/

/*:Body ~*~*/
body {
	/*:Body Background*/
	background-image:none;
	background-color:#fff;
	background-repeat:repeat;
	background-attachment:scroll;
	background-position:top left;
}


/*:Body End ~*~*/

/*:Header ~*~*/
#header {
	/*:Header Background*/
	background-image:none;
	
}

.header_links li a {
	/*:Header Links Font*/
	color:#999;
	font-size:11px;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
}

.logo a {
	/*:Logo Font*/
	color:#eee;
	font-size:38px;
	font-weight:normal;
	font-style:normal;
	font-family:Questrial, sans-serif;
}



/*:Header End ~*~*/



/*:Menu ~*~*/
#main_menu {
	/*:Navigation Background*/
	
}




/*:Menu End ~*~*/



/*:Main Content ~*~*/
/*#sidebar h4.widgettitle span {

	color:#777;
	font-size:18px;
	font-weight:normal;
	font-style:normal;
	font-family:Questrial, sans-serif;
}*/

#sidebar .post_title a {
	font-family:Questrial, sans-serif;
}

/*:Main Content End ~*~*/
