@font-face {
	font-family:"Acme";
	src:url('lib/fonts/Acme-Regular.ttf');
}

@font-face {
	font-family:"Aladin";
	src:url('lib/fonts/Aladin-Regular.ttf');
}

@font-face {
	font-family:"Amethysta";
	src:url('lib/fonts/Amethysta-Regular.ttf');
}

@font-face {
	font-family:"Boogaloo";
	src:url('lib/fonts/Boogaloo-Regular.ttf');
}


@font-face {
	font-family:"Chelsea Market";
	src:url('lib/fonts/ChelseaMarket-Regular.ttf');
}


@font-face {
	font-family:"Coming Soon";
	src:url('lib/fonts/ComingSoon.ttf');
}

@font-face {
	font-family:"Flamenco";
	src:url('lib/fonts/Flamenco-Regular.ttf');
}


@font-face {
	font-family:"Galdeano";
	src:url('lib/fonts/Galdeano-Regular.ttf');
}

@font-face {
	font-family:"Germania One";
	src:url('lib/fonts/GermaniaOne-Regular.ttf');
}


@font-face {
	font-family:"Gudea";
	src:url('lib/fonts/Gudea-Regular.ttf');
}


@font-face {
	font-family:"Homenaje";
	src:url('lib/fonts/Homenaje-Regular.ttf');
}


@font-face {
	font-family:"Inika";
	src:url('lib/fonts/Inika-Regular.ttf');
}


@font-face {
	font-family:"Istok Web";
	src:url('lib/fonts/IstokWeb-Regular.ttf');
}


@font-face {
	font-family:"Jim Nightshade";
	src:url('lib/fonts/JimNightshade-Regular.ttf');
}


@font-face {
	font-family:"Junge";
	src:url('lib/fonts/Junge-Regular.ttf');
}


@font-face {
	font-family:"Lora";
	src:url('lib/fonts/Lora-Regular.ttf');
}


@font-face {
	font-family:"Lusitana";
	src:url('lib/fonts/Lusitana-Regular.ttf');
}


@font-face {
	font-family:"Macondo";
	src:url('lib/fonts/Macondo-Regular.ttf');
}


@font-face {
	font-family:"Maven Pro";
	src:url('lib/fonts/MavenPro-Regular.ttf');
}

@font-face {
	font-family:"Merienda One";
	src:url('lib/fonts/MeriendaOne-Regular.ttf');
}


@font-face {
	font-family:"Montez";
	src:url('lib/fonts/Montez-Regular.ttf');
}


@font-face {
	font-family:"Nunito";
	src:url('lib/fonts/Nunito-Regular.ttf');
}


@font-face {
	font-family:"Oldenburg";
	src:url('lib/fonts/Oldenburg-Regular.ttf');
}


@font-face {
	font-family:"Overlock SC";
	src:url('lib/fonts/OverlockSC-Regular.ttf');
}

@font-face {
	font-family:"Qwigley";
	src:url('lib/fonts/Qwigley-Regular.ttf');
}


@font-face {
	font-family:"Rogue Script";
	src:url('lib/fonts/RogueScript-Regular.ttf');
}


@font-face {
	font-family:"Ruda";
	src:url('lib/fonts/Ruda-Regular.ttf');
}


@font-face {
	font-family:"Ruluko";
	src:url('lib/fonts/Ruluko-Regular.ttf');
}


@font-face {
	font-family:"Shadows Intro Light";
	src:url('lib/fonts/ShadowsIntroLight.ttf');
}


@font-face {
	font-family:"Sofia";
	src:url('lib/fonts/Sofia-Regular.ttf');
}


@font-face {
	font-family:"Telex";
	src:url('lib/fonts/Telex-Regular.ttf');
}


@font-face {
	font-family:"Viga";
	src:url('lib/fonts/Viga-Regular.ttf');
}


@font-face {
	font-family:"Yesteryear";
	src:url('lib/fonts/Yesteryear-Regular.ttf');
}