<h1 style="padding: 25px 0;">Glossary</h1>
<div id="glossary">

<span id="intro">Morbi quis purus mauris. Suspendisse odio erat, pharetra in tincidunt in, posuere et eros. Maecenas neque purus, mattis eu auctor laoreet, posuere sit amet leo. Fusce fermentum tempus lectus, sed rhoncus velit aliquet quis. </span>
<h4>501(c)3</h4>
The official designation of a legally incorporated nonprofit organization, proving they are charitable, tax-exempt and that they’ve been vetted by the federal government.
<h4>501(c)4</h4>
A community-based nonprofit organization that is not solely charitable. However, contributions made to a 501(c)4 are tax-deductible.
<div class="letter_sxn">A</div>
<h4>Advocacy</h4>
The act of defending a cause or proposal. Many nonprofits are rooted in the advocacy of a particular issue, seeking to increase public awareness as their mission.
<h4>Advocate</h4>
A person who publicly supports or recommends a particular cause or policy.
<h4>Affiliates</h4>
A subsidiary of a larger organization. Individuals are controlled or control each other by sharing management of that organization.  
<h4>Annual Appeal</h4>
An organized effort by a nonprofit to secure gifts on an annual basis. 
<h4>Annual Fund </h4>
An organized effort by a nonprofit to secure gifts on an annual basis to support yearly budgets or general operations. Funds are typically raised through mail or direct solicitation efforts.
<div class="letter_sxn">B</div>
<h4>Beneficiary </h4>
An individual or organization which receives, or may become eligible to receive, benefits under a donation or contract. 
<h4>Brand Messaging </h4>
Creative messaging that presents and maintains a consistent image for an organization across all media channels.
<div class="letter_sxn">C</div>
<h4>Capital Campaign </h4>
A-time limited fundraising endeavor to meet a specific financial goal. Most capital campaigns are implemented in order to fund a special project.   
<div class="letter_sxn">D</div>
<h4>Donor Management  </h4>
The act of tracking donor trends and analyzing your communication strategy to come up with best practices and fundraising campaigns.   
<h4>Donor Advised Funds  </h4>
A fund held by an organization in which the donor may recommend recipients for grants from the fund. 
<h4>Donor Base   </h4>
The range of individuals and groups that support an organization through donations. 
<h4>Donor Frequency</h4>
The number of times a donor makes a contribution. Understanding donor frequency patterns helps to predict future donor behavior and understand donor base.  
<h4>Donor Segmentation </h4>
The process of dividing your donor base into smaller groups based on the characteristics that define them as individual givers, such as top donors, average donors, recurring donors, lapsed donors, etc. 
<h4>Donor Upgrades </h4>
The process of elevating the monetary amount of the average gift of a donor. 
<div class="letter_sxn">E</div>
<h4>Endowment Fund  </h4>
A fund established to provide income for the maintenance of a nonprofit organization. Established by donor-restricted gifts and limited to the purpose dictated by the donor. 
<div class="letter_sxn">F</div>
<h4>Fundraise-for-entry   </h4>
An event type whereby guests are required to raise a certain amount of money in lieu of purchasing a ticket. Donors create their own personal fundraising pages and appeal to friends and family or create events and viral marketing campaigns to raise funds to achieve their goal. Often, guests will create fundraising goals above and beyond the amount required to attend the event. <a href="www.blog.stayclassy.org/post/17669399491/featured-nonprofit-bright-pink">Read More &#8594;</a> 
<div class="letter_sxn">G</div>
<h4>Gift    </h4>
Also known as a donation, a gift is the transfer of cash, assets, or in-kind goods to an organization for no consideration.
<h4>Giving Patterns</h4>
The overall picture of the types of programs that a donor has supported historically. The past record may include areas of interest, geographic locations, dollar amount of funding or kinds of organizations supported.
<div class="letter_sxn">I</div>
<h4>Impact Investor</h4>
Someone who makes an investment in a program that helps solve a pressing problem, generates compelling returns for investors, aids in the growth for economies and prosperity for developed and developing.
<h4>In-Kind donation</h4>
A donation of goods and/or services, instead of cash, that is given to an organization. 
<div class="letter_sxn">M</div>
<h4>Micro-philanthropy</h4>
Micro-philanthropy is a model of philanthropy that is based on smaller, more direct interaction between the donor and organization or individual being donated to.  
<div class="letter_sxn">O</div>
<h4>Operating Budget </h4>
Budgets associated with the income-producing activities of an organization.  
<div class="letter_sxn">P</div>
<h4>Planned giving</h4>
Any major gift made as part of a donor’s overall financial and/or estate planning. This type of giving enables individuals to make larger gifts than they could make from their income.
<div class="letter_sxn">R</div>
<h4>Recurring Donation</h4>
The commitment made by a donor to consistently donate the same amount in a specified time frame, i.e. weekly, monthly or yearly.
<div class="letter_sxn">S</div>
<h4>Social Venture Funds</h4>
Charitable funds whose donors invest their expertise as well as their money, providing support and requiring accountability of nonprofit organizations just as venture capitalists do in business enterprises. 
<div class="letter_sxn">W</div>
<h4>Web 2.0</h4>
Features of the World Wide Web that provide dynamic and interconnected user interaction, making it easier to share information online. Examples include Blogs, Wikis, social networks like Facebook, Twitter and MySpace, as well as web applications like widgets.
<h4>Widgets</h4>
Similar to an app, a widget is a small piece of computer code that can be embedded various places around the internet to achieve a certain goal. Widgets can help sell event tickets, accept donations, etc. 







<h1 style="padding: 25px 0;">Newsletter Archives</h1>

<style type="text/css">
.display_archive {font-family: arial,verdana; font-size: 12px;}
.campaign {line-height: 27px; margin: 5px;}
</style>

<h2 style="padding: 25px 0;">NPO Newsletters</h3>

<script language="javascript" src="http://us2.campaign-archive1.com/generate-js/?u=a786802c7dfb982c9ff4a6be6&fid=23534&show=10" type="text/javascript"></script>


<h2 style="padding: 25px 0;">StayClassy Weekly</h3>


<script language="javascript" src="http://us2.campaign-archive2.com/generate-js/?u=a786802c7dfb982c9ff4a6be6&fid=23533&show=10" type="text/javascript"></script>





















  
</div>