/* TOC 
01. COLUMN LAYOUTS ETC.
02. COLOR VARIATION CLASSES
03. BUTTONS & LINKS 
04. FORMS
05. BOXES
06. IMAGES & GALLERIES
07. TYPOGRAPHY
08. TABS
09. TOGGLES
10. TOOLTIPS
11. BLOG & PORTFOLIO SHORTCODES
12. WIDGETS
13. MISC SHORTCODES
14. PROGRESSIVE ENHANCEMENTS
*/

/* 
===============================================================================================================
01. COLUMN LAYOUTS ETC.
=============================================================================================================== */

/* Column Layouts 
-------------------------------------------------------------- */
.one_half{width:48%;}
.one_third{width:30.66%;}
.two_third{width:65.33%;}
.one_fourth{width:22%;}
.three_fourth{width:74%;}
.one_fifth{width:16.8%;}
.two_fifth{width:37.6%;}
.three_fifth{width:58.4%;}
.four_fifth{width:79.2%;}
.one_sixth{width:13.33%;}
.five_sixth{width:82.67%;}
.custom_column{position:relative;margin:0;float:left;}
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{position:relative;margin-right:4%;float:left;min-height:1px;margin-bottom:0;}
.last{margin-right:0!important;clear:right;}

/* Clear Floats 
-------------------------------------------------------------- */
.clearboth,.divider_padding{width:100%;height:0px;line-height:0;font-size:0px;clear:both;display:block;}
.divider_padding{padding-bottom:40px}
#intro_inner:after,
#slider_module:after,
.main_navigation ul:after,
#content_inner:after,
#sidebar_inner:after,
#main_inner:after,
#outro_inner:after,
#footer_inner:after,
#sub_footer_inner:after,
.post_grid:after,
.post_list_module:after,
.single_post_module:after,
.post_nav_module:after,
.share_this_content:after,
.about_author_content:after,
.additional_posts_module:after,
.widget:after,.page:after,
.clearfix:after{content:" ";display:block;height:0;font-size:0;clear:both;visibility:hidden;}

/* 
===============================================================================================================
02. COLOR VARIATION CLASSES
=============================================================================================================== */

/* Backgrounds & Borders 
-------------------------------------------------------------- */
.red{background-color:#700 !important;border-color:#700 !important;}
.orange{background-color:#e98813 !important;border-color:#e98813 !important;}
.yellow{background-color:#f7c808 !important;border-color:#f7c808 !important;}
.green{background-color:#74941f !important;border-color:#74941f !important;}
.olive{background-color:#3a491a !important;border-color:#3a491a !important;}
.teal{background-color:#089 !important;border-color:#089 !important;}
.blue{background-color:#00437f !important;border-color:#00437f !important;}
.deepblue{background-color:#092334 !important;border-color:#092334 !important;}
.purple{background-color:#4b2c5a !important;border-color:#4b2c5a !important;}
.hotpink{background-color:#bc006e !important;border-color:#bc006e !important;}
.slategrey{background-color:#3b424a !important;border-color:#3b424a !important;}
.mauve{background-color:#625b56 !important;border-color:#625b56 !important;}
.pearl{background-color:#ab998f !important;border-color:#ab998f !important;}
.steelblue{background-color:#788794 !important;border-color:#788794 !important;}
.mossgreen{background-color:#717a75 !important;border-color:#717a75 !important;}
.wheat{background-color:#79745d !important;border-color:#79745d !important;}
.coffee{background-color:#372e25 !important;border-color:#372e25 !important;}
.copper{background-color:#6b3c02 !important;border-color:#6b3c02 !important;}
.silver{background-color:#ddd !important;border-color:#d0d0d0 !important;color:#444!important;}
.black{background-color:#111 !important;border-color:#111 !important;}
.white{background-color:#fff !important;border-color:#eee !important;color:#aaa!important;}
.white .colored_box_title{background:none;border-bottom:1px dashed #eee;color:#999;}
.titled_box_title.white{background:url(images/shortcodes/th.png) repeat-x 0 0 #F3F3F3;}
 
/* Icon Variations 
-------------------------------------------------------------- */
.red_sprite{background-image:url(images/shortcodes/icons/icons_770000.png) !important;}
.orange_sprite{background-image:url(images/shortcodes/icons/icons_e98813.png) !important;}
.yellow_sprite{background-image:url(images/shortcodes/icons/icons_f7c808.png) !important;}
.green_sprite{background-image:url(images/shortcodes/icons/icons_74941f.png) !important;}
.olive_sprite{background-image:url(images/shortcodes/icons/icons_3a491a.png) !important;}
.teal_sprite{background-image:url(images/shortcodes/icons/icons_008899.png) !important;}
.blue_sprite{background-image:url(images/shortcodes/icons/icons_00437f.png) !important;}
.deepblue_sprite{background-image:url(images/shortcodes/icons/icons_092334.png) !important;}
.purple_sprite{background-image:url(images/shortcodes/icons/icons_4b2c5a.png) !important;}
.hotpink_sprite{background-image:url(images/shortcodes/icons/icons_bc006e.png) !important;}
.slategrey_sprite{background-image:url(images/shortcodes/icons/icons_3b424a.png) !important;}
.mauve_sprite{background-image:url(images/shortcodes/icons/icons_625b56.png) !important;}
.pearl_sprite{background-image:url(images/shortcodes/icons/icons_ab998f.png) !important;}
.steelblue_sprite{background-image:url(images/shortcodes/icons/icons_788794.png) !important;}
.mossgreen_sprite{background-image:url(images/shortcodes/icons/icons_717a75.png) !important;}
.wheat_sprite{background-image:url(images/shortcodes/icons/icons_79745d.png) !important;}
.coffee_sprite{background-image:url(images/shortcodes/icons/icons_372e25.png) !important;}
.copper_sprite{background-image:url(images/shortcodes/icons/icons_6b3c02.png) !important;}
.silver_sprite{background-image:url(images/shortcodes/icons/icons_dddddd.png) !important;}
.black_sprite{background-image:url(images/shortcodes/icons/icons_222222.png) !important;}

/* Text Variations 
-------------------------------------------------------------- */
.red_text,.red_sprite a{color:#700 !important;}
.orange_text,.orange_sprite a{color:#e98813 !important;}
.yellow_text,.yellow_sprite a{color:#f7c808 !important;}
.green_text,.green_sprite a{color:#74941f !important;}
.olive_text,.olive_sprite a{color:#3a491a !important;}
.teal_text,.teal_sprite a{color:#089 !important;}
.blue_text,.blue_sprite a{color:#00437f !important;}
.deepblue_text,.deepblue_sprite a{color:#092334 !important;}
.purple_text,.purple_sprite a{color:#4b2c5a !important;}
.hotpink_text,.hotpink_sprite a{color:#bc006e !important;}
.slategrey_text,.slategrey_sprite a{color:#3b424a !important;}
.mauve_text,.mauve_sprite a{color:#625b56 !important;}
.pearl_text,.pearl_sprite a{color:#ab998f !important;}
.steelblue_text,.steelblue_sprite a{color:#788794 !important;}
.mossgreen_text,.mossgreen_sprite a{color:#717a75 !important;}
.wheat_text,.wheat_sprite a{color:#79745d !important;}
.coffee_text,.coffee_sprite a{color:#372e25 !important;}
.copper_text,.copper_sprite a{color:#6b3c02 !important;}
.silver_text,.silver_sprite a{color:#ddd !important;}
.black_text,.black_sprite a{color:#111 !important;}

/* 
===============================================================================================================
03. BUTTONS & LINKS
=============================================================================================================== */

/* Buttons 
-------------------------------------------------------------- */
.button_link,.styled_button,#submit{margin:5px 10px 5px 0;display:inline-block;padding:0px 15px;line-height:25px;font-size:11px;color:#f8f8f8;font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;}
#searchsubmit {
	margin:5px 10px 5px 0;
	display: inline-block;
	padding:10px 30px;
	font-size:12px;
	letter-spacing:1px;
	line-height:15px;
	text-transform:uppercase;
}
.button_link:hover,.styled_button:hover,#searchsubmit:hover,#submit:hover{text-decoration:none!important;cursor:pointer;color:#fff;}
.styled_button::-moz-focus-inner{border:0;padding:0;}
.small_button{line-height:10px;font-size:10px;padding:8px 15px 7px;}
.large_button,.call_to_action{font-size:18px;padding:15px 40px;}

/* Styled Links 
-------------------------------------------------------------- */
.email_link{padding-left:22px;margin-right:10px;background:url(images/shortcodes/icons/icons_222222.png) no-repeat -340px -283px;}
.twitter_link{padding-left:22px;margin-right:10px;background:url(images/shortcodes/icons/icons_222222.png) no-repeat -659px -85px;}
.download_link{margin-right:10px;background:url(images/shortcodes/icons/icons_222222.png) no-repeat -262px -363px; padding:1px 0 3px 22px;}
.styled_link{margin-right:10px;display:inline-block;}
.styled_link:hover{text-decoration:underline;}
.download_link:hover,.email_link:hover,.download_link:hover{text-decoration:underline!important;}

/* Simple Form Styles 
-------------------------------------------------------------- */
.textfield,.password,#s{border:1px solid #eee;background:transparent;padding:10px;}
.textarea,#comment{border:1px solid #eee;background:transparent;padding:10px;width:97%;}
.textfield_label{display: inline-block;margin-left: 10px;}
#commentform p{margin-bottom:10px;}

#footer .textarea{background-position: 0 90%;} 
#footer #s:focus,#footer .textfield:focus,#footer .textarea:focus{opacity:.8;}

/* Search Widget 
-------------------------------------------------------------- */
#searchsubmit{font-size:11px;margin-right:0;padding: 10px 18px;}
.screen-reader-text{display:none;}

/* 
===============================================================================================================
04. FANCY FORMS SHORTCODE
=============================================================================================================== */

/* Forms Shortcode
-------------------------------------------------------------- */
.alli_form_row{margin-bottom:10px;}
.alli_form_row label:first-child{display:block;}
.radio_row label:first-child,.checkbox_row label:first-child{display:inline-block;padding-right:10px;}
.alli_required,.alli_name_required,.alli_email_required,.alli_zip_required,.alli_date_required{display:none;}
.alli_form .checkbox{float:left;}
.alli_form .textfield{width:200px;}
.alli_form .textarea{width:80%;}
.radio_label{padding-right:10px;}
.alli_form .checkbox,.alli_form .radio{width:20px;height:25px;padding:0 5px 0 0;background:url(images/shortcodes/checkbox.png) no-repeat;display:inline-block;vertical-align:middle;line-height:25px;}
.alli_form .radio{background:url(images/shortcodes/radio.png) no-repeat;}
.alli_form .select{background:url(images/shortcodes/select.png) no-repeat right 0;border:1px solid #E0E0E0;color:#aaa;height:35px;line-height:35px;overflow:hidden;padding:0 10px;position:absolute;width:200px;}
.alli_form select.styled{height:35px!important;width:223px!important;}
.alli_form_row .star {
	font-size:8px;
	color:red;
	line-height:25px;
	margin-left:5px;
}

/* Contact Form Widget 
-------------------------------------------------------------- */
.alli_contact_form_widget .name_row label,.alli_contact_form_widget .email_row label,.alli_contact_form_widget .captcha_row label{width:38%;float:right; margin-top:5px;}
.alli_contact_form_widget .textarea_row label:first-child{display:none;}
.alli_contact_form_widget .textfield{width:55%;}
.alli_contact_form_widget .textarea{width:85%;}

/* Required Error
-------------------------------------------------------------- */
.alli_message.errors{color:#c31b00;padding:15px 20px;margin-bottom:20px;letter-spacing:.3px;background:#ffcccc;border:1px solid #ff9999; border-radius:4px;}
.alli_message.errors ul{list-style:none;margin:0;padding:0;}
.alli_message.errors li{background:url(images/shortcodes/error.png) no-repeat 0 2px;padding-left:22px;}
.required_error{border:1px solid #ff9999!important;}

/*


/* Styled Code & Pre Boxes 
-------------------------------------------------------------- */
code,pre{font-family:"Courier New","Consolas",Courier,monospace;white-space:pre;overflow:auto;font-size:11px;margin-bottom:20px;}
.styled_code_box,.styled_pre_box{border:1px solid #eee;margin-bottom:20px;line-height:20px;background:#fff;padding:0 20px;display:block;overflow:auto;}
.styled_code_box{background:url(images/shortcodes/code.gif) repeat 0 0;border-top:transparent;}

/* Alert Boxes 
-------------------------------------------------------------- */
.download_box,.warning_box,.success_box,.info_box,.note_box{padding:20px 15px 20px 55px;margin-bottom:20px;font-size:14px;letter-spacing:.3px;}
.download_box a,.warning_box a,.success_box a,.info_box a,.note_box a{text-decoration:underline !important;}
.info_box{background:#bfe4f9 url(images/shortcodes/icons/info.png) no-repeat 10px 15px;border:1px solid #68a2cf;}
.note_box{background:#fdebae url(images/shortcodes/icons/notebook.png) no-repeat 10px 15px;border:1px solid #e6c555;}
.warning_box{background:#ffcccc url(images/shortcodes/icons/stop.png) no-repeat 10px 15px;border:1px solid #ff9999;}
.download_box{background:#dee3ab url(images/shortcodes/icons/down_alt.png) no-repeat 10px 15px;border:1px solid #a3c159;}
.info_box,.info_box a{color:#2e6093;}
.note_box,.note_box a{color:#9e660d;}
.warning_box,.warning_box a{color:#c31b00;}
.download_box,.download_box a{color:#5e6f33;}

/* 
===============================================================================================================
06. FANCY IMAGES & GALLERIES
=============================================================================================================== */

/* Framed Images Etc. 
-------------------------------------------------------------- */
.wp-caption{margin-bottom:20px;padding-top:12px;text-align:center;}
.wp-caption-text{margin-bottom:0px;text-align:center;color:#999;}
.single_post_image a,.single_post_image a:hover,
.post_grid_image a,.post_grid_image a:hover,
.post_list_image a,.post_list_image a:hover,
.positioning a,.positioning a:hover,
.styled_image_load,.styled_image_load:hover{text-decoration:none!important;}

/* Image Effect
-------------------------------------------------------------- */
.shadow_frame{display:inline-block;position:relative;}
.shadow_frame img{display:block;margin:0 auto;position:relative;}
.transparent_frame{position:relative;display:inline-block;}
.transparent_border{position:absolute;top:0;left:0;border:5px solid #000;opacity:.15;width:290px;height:217px;}

/* Styled Images
-------------------------------------------------------------- */
.styled_images{margin-left:-20px;}
.styled_image{float:left;margin-left:20px;margin-bottom:20px;}
 
/* Nivo Slider Shortcode
-------------------------------------------------------------- */
.nivoSlider{position:relative;}
.nivoSlider img{position:absolute;top:0px;left:0px;}
.nivoSlider a.nivo-imageLink{position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:none;}
.nivo-slice{display:block;position:absolute;z-index:5;height:100%;}
.nivo-box{display:block;position:absolute;z-index:5;}
.nivo-caption{position:absolute;left:0px;bottom:0px;background:#000;color:#fff;opacity:0.8;width:100%;z-index:8;}
.nivo-caption p{padding:10px 20px;margin:0;color:#666}
.nivo-caption a{display:inline !important;}
.nivo-html-caption{display:none;}
.nivo-controlNav{float:right;padding:10px;}
.nivo-controlNav a{position:relative;z-index:9;cursor:pointer;display:block;width:22px;height:22px;text-indent:-9999px;border:0;margin-right:3px;float:left;}
.nivo-controlNav a.active{font-weight:bold;background-position:0 -22px;}
.nivo-directionNav a{position:absolute;top:35%;z-index:9;cursor:pointer;display:block;width:40px;height:40px;background:url(images/assets/slider_arrows.png) no-repeat;text-indent:-9999px;border:0;}
a.nivo-nextNav{background-position:-40px 0;right:15px;}
a.nivo-prevNav{left:15px;}


/* PNG Preloaders
-------------------------------------------------------------- */
.post_list_image,.alli_form_row,.alli_nivo_sc{position:relative;}
.alli_preloader,.alli_preloader_large{
	position:absolute;
	top:50%;
	margin-top:-17px;
	left:50%;
	margin-left:-17px;
}
.alli_preloader img,.alli_preloader_large img,.alli_contact_feedback img{
	height:36px;
	width:36px;
	padding:0!important;
	margin:0!important;
	outline:none!important;
	border:none!important;
	background-color:transparent!important;

	background-image:url('images/assets/preloader.gif')!important;
}
.alli_preloader_large { text-align:center; }
.alli_contact_feedback{display:none;vertical-align:top;margin-left:0px;margin-top:10px;height:30px;overflow:hidden;}
.alli_contact_feedback img{width:30px;height:30px;background-position:bottom left;}
/*.alli_preloader img{width:26px;height:26px;}*/


/* 
===============================================================================================================
07. TYPOGRAPHY
=============================================================================================================== */

/* Lists 
-------------------------------------------------------------- */
.styled_list,.sitemap_list{padding-left:0;}
.styled_list li,.sitemap_list li{padding-left:22px;list-style:none;margin-top:5px;background:url(images/shortcodes/icons/icons_222222.png) no-repeat -303px -320px;}
.styled_list .comment_list{background:url(images/shortcodes/icons/icons_222222.png) no-repeat -380px -241px;}
.styled_list .bullet_list{background:url(images/shortcodes/icons/icons_222222.png) no-repeat -67px -557px;}
.styled_list .check_list{background:url(images/shortcodes/icons/icons_222222.png) no-repeat -461px -161px;}
.styled_list .minus_list{background:url(images/shortcodes/icons/icons_222222.png) no-repeat -101px -518px;}
.styled_list .plus_list{background:url(images/shortcodes/icons/icons_222222.png) no-repeat -141px -478px;}
.styled_list .star_list{background:url(images/shortcodes/icons/icons_222222.png) no-repeat -581px -41px;}
.styled_list .arrow_list{background:url(images/shortcodes/icons/icons_222222.png) no-repeat -303px -320px;}
.styled_list .circle_arrow{background:url(images/shortcodes/icons/icons_222222.png) no-repeat -619px -2px;}
.styled_list .triangle_arrow{background:url(images/shortcodes/icons/icons_222222.png) no-repeat -500px -124px;}
.sitemap_list .children{padding-left:0;}

/* Dropcaps 
-------------------------------------------------------------- */
.dropcap,.dropcap3,.dropcap4{text-align:center;float:left;color:#fff;}
.dropcap {
	background:#000;margin:2px 10px -5px 0;line-height:36px;font-size:25px;height:36px;width:36px;}
.dropcap4{line-height:35px;margin:0 10px 0 0;font-size:17px;height:36px;width:36px;border-radius:4px;}
.dropcap3{background:#000; line-height:40px;margin-right:5px;font-size:15px;height:40px;width:40px; border-radius:50px;}
.dropcap2{display:block;float:left;font-size:40px;line-height:40px;margin:0 8px -5px 0;}

/* Pullquotes 
-------------------------------------------------------------- */
.pullquote,.pullquote2,.pullquote3,.pullquote4{display:inline-block;float:left;margin-right:4%;margin-top:20px!important;margin-bottom:20px!important;width:40%;}
.pullquote,.pullquote2,.pullquote3{
	font-family:Georgia,Times,serif;
	letter-spacing:-.5px;
	font-style:italic;
	font-size:20px;
	line-height:28px;
}

.pullquote1,.pullquote4 {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.pullquote {
	border:1px solid #e4e4e4;
	padding:19px;
}
.pullquote2 {
	border-left:3px solid;
	font-size:16px;
	line-height:25px;
	letter-spacing:0;
	padding:0 0 0 17px;
	width:36%;
}
.pullquote3 {
	border-top:4px double #e0e0e0;
	border-bottom:4px double #e0e0e0;
	padding:22px 0;
	margin-top:20px !important;
}
.pullquote4 {
	background:#151515;
	color:#f8f8f8;
	padding:19px;
	font-size:14px;
}
.quotes:before{content:'\201C';font-weight:bold;margin-right:5px;font-size:150%;display:inline;vertical-align:middle;}
.quotes:after{content:'\201D';font-weight:bold;margin-left:5px;font-size:150%;display:inline;vertical-align:middle;}
.pullquote.aligncenter,.pullquote2.aligncenter,.pullquote3.aligncenter,.pullquote4.aligncenter{float:none;text-align:left;width:auto;display:block;}
.pullquote.alignleft,.pullquote.aligncenter{margin-left:2px;}
.pullquote.alignright,.pullquote.aligncenter{margin-right:2px;}

/* Blockquotes 
-------------------------------------------------------------- */
blockquote{
	font-size:14px;
	font-family:Georgia, serif;
	font-style:italic;
	margin:20px 0;
	padding:5px 5px 5px 45px;
	background:url(images/shortcodes/icons/icons_222222.png) no-repeat 0 -619px;

}
blockquote p{margin-bottom:0;}
cite{font-size:11px;color:#999; font-family:"Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-style:normal;}

/* Tables 
-------------------------------------------------------------- */
.default_table,.table{border-collapse:separate;margin-bottom:20px;border-spacing:0;width:100%;vertical-align:middle;}
.default_table th{background:#333;color:#fff;font-size:11px;padding:10px 20px;text-transform:uppercase;letter-spacing:1px;font-weight:normal;vertical-align:middle;text-align:left;}
.default_table td{padding:10px 20px;border-bottom:1px solid #e9e9e9;}
.table{width:99%;border:1px solid #fff;}
.table th{letter-spacing:1px;font-weight:normal;vertical-align:middle;border-bottom:1px solid #fff;background:#f3f3f3 url(images/shortcodes/th.png) 0 0 repeat-x;text-align:center;padding:15px 20px;text-shadow:1px 1px 1px #fff;font-size:14px;}
.table td{padding:10px 20px;border-top:1px solid #eee;text-align:center;}
.table tr:hover{background:#f3f3f3 url(images/shortcodes/th.png) 0 0 repeat-x;}
.table th:first-child,.table td:first-child{text-align:left;padding-left:30px;}

/* Highlight Styles 
-------------------------------------------------------------- */
.highlight{padding:2px 6px;color:#fff;background:#111;}
.highlight2{padding:1px;border-bottom:1px dashed;font-style:italic;}



/* Dividers 
-------------------------------------------------------------- */
.divider{background:url(images/shortcodes/inset_line.png) left center no-repeat;clear:both;display:block;height:20px;margin:30px 0;text-align:right;width:100%;}
.top{background-position:right center;}
.top a{color:#ccc;display:block;font-size:8px;line-height:18px;text-decoration:none;}
.top a:hover{text-decoration:none;}
hr{margin-top:20px;margin-bottom:19px;background:#eee;color:#eee;border:none;height:1px;}

/* 
===============================================================================================================
08. TABS
=============================================================================================================== */

.featured_tabs li,.tabs li,.tabs_framed li,.tabs_button li,.tabs_vertical li {
	padding:0;
	margin:0;
	list-style-type:none;
	float:left;
}
.featured_tabs a,.tabs a,.tabs_framed a,.tabs_button a,.tabs_vertical a {
	display:block;
	text-decoration:none;
	position:relative;
	
	font-size:12px;
	line-height:12px;
}

/* Tabs 
-------------------------------------------------------------- */

.tabs_container{background:url(images/line.gif) repeat-x center top;}
.tabs{height:34px;padding:0;margin:0;list-style-type:none;background:url(images/line.gif) repeat-x center bottom;}
.tabs li{float:left;padding:0;margin:0;list-style-type:none;}
.tabs a{display:block;font-family:tahoma;font-size:10px;letter-spacing:1px;margin-right:30px;padding:10px 1px 8px;position:relative;text-decoration:none;text-transform:uppercase;}
.tabs a:hover{color:#888;text-decoration:none;}
.tabs a.current{color:#666;cursor:default;border-top: 2px solid;padding: 8px 1px 8px;}
.tabs_content{display:none;padding-top:15px; padding-bottom:20px;}

/* Framed Tabs 
-------------------------------------------------------------- */
.tabs_framed{padding:0;margin:0;list-style-type:none;clear:left;height:25px;border-bottom:1px solid #E5E5E5;}
.tabs_framed a{border:1px solid #E5E5E5;background:#fafafa;padding:8px 15px;margin-right:2px;color:#999; position: relative; top:-4px; }
.tabs_framed a:hover{text-decoration:none;background:#fff;color:#666;}
.tabs_framed a.current{cursor:default;border-bottom:1px solid #fff;color:#333;background:#fff;}
.tabs_framed_content{display:none;background-color:#fff;border:1px solid #E5E5E5;border-width:0 1px 1px 1px;padding:15px}
.tabs_framed_container{margin-bottom:40px;}

/* Button Tabs 
-------------------------------------------------------------- */
.tabs_button{padding:0;margin:0;list-style-type:none;height:30px;}
.tabs_button a{margin-right:10px;
padding: 7px 15px;
background: #F4F4F4;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.tabs_button a:hover{text-decoration:none;background: #E9403B; color:#fff;}
.tabs_button a.current{cursor:default;color:#eee;padding:7px 15px;cursor:default; border-radius:4px; margin:0 10px 0 0!important;}
.tabs_button_content{display:none;padding:20px 0;overflow:visible;}
.tabs_button_container{margin-bottom:20px;}

/* Vertical Tabs 
-------------------------------------------------------------- */
ul.featured_tabs li {
	border-bottom:1px solid #f2f2f2;
}

ul.featured_tabs li:last-child {
	border:none;
}
.tabs_vertical,.featured_tabs {
	padding:0 0 30px 0;
	margin:0;
	list-style-type:none;
	font-size:16px;
	background:url('images/assets/sidebar.png') right top repeat-y;
}
.tabs_vertical li,.featured_tabs li {
	float:none;
	border-bottom:1px solid #f2f2f2;
}

.tabs_vertical li a,.featured_tabs li a {
	z-index:20;
	line-height:20px;
	padding:10px 0;
	color:#999;
	margin-right:1px;
}
.tabs_vertical a:hover,.featured_tabs a:hover {
	text-decoration:none;
	color:#666;
}
.tabs_vertical_frame,.featured_tabs_frame {
	float:left;
	width:240px;
	margin-bottom:90px;
	position:relative;
}

.tabs_vertical_content,.featured_tabs_content {
	display:block;
	overflow:hidden;
	padding-left:3%;
	padding-top:5px;
}

.tabs_vertical li.current a,.featured_tabs li.current_page_item a {
	color:#555;
}

.tabs_vertical li.current,.featured_tabs li.current_page_item {
	border-right:1px solid #fff;
	background:#fff;
}

.tabs_vertical li.current span,.featured_tabs li.current_page_item span {
	background:url(images/shortcodes/bullet-list_01.png) no-repeat right 1px;
	display:block;
	height:26px;
	margin-top:-13px;
	position:absolute;
	right:0;
	top:50%;
	width:30px;
}

/* 
===============================================================================================================
09. TOGGLES
=============================================================================================================== */

/* Default Toggles 
-------------------------------------------------------------- */
.toggle,.toggle_accordion{background:url(images/shortcodes/icons/icons_222222.png) no-repeat -222px -395px;line-height:30px;margin-bottom:15px;position:relative;padding:0 0 0 30px;}
.toggle a,.toggle_accordion a{color:inherit;display:block;font-size:16px;font-weight:normal;letter-spacing:0.4px;line-height:30px;text-decoration:none;text-transform:none;}
.toggle a:hover,.toggle_accordion a:hover{text-decoration:none;}
.active{background:url(images/shortcodes/icons/icons_222222.png) no-repeat -182px -434px;}
.toggle_content{clear:both;margin:0 0 20px 30px;overflow:hidden;}

/*optional
.toggle_content{margin:0 0 20px 0;}
.toggle_frame .toggle_content{margin:0 0 20px 30px}
*/

/* Framed Toggles 
-------------------------------------------------------------- */
.toggle_frame{padding:0 20px;padding-top:15px;margin:15px 2px;border:1px solid #fff;background:#f4f4f4;}
.toggle_frame .toggle,.toggle_frame .toggle_accordion{background-position:-141px -474px;}
.toggle_frame .active{background-position:-101px -514px;}
.toggle_frame .toggle_content{border:0;padding:0px;}
.toggle_frame .toggle_content .block{padding:0px;}

/* 
===============================================================================================================
10. TOOLTIPS
=============================================================================================================== */


/* 
===============================================================================================================
11. BLOG & PORTFOLIO SHORTCODES
=============================================================================================================== */

/* Post Grids 
-------------------------------------------------------------- */
.post_grid{margin-bottom:20px;}
.post_grid_module{position:relative;}
.post_grid_image{margin-bottom:5px;display:block;}
.post_grid_content{position:relative;}

/* Post Lists 
-------------------------------------------------------------- */
.post_list{margin-bottom:20px;padding-left:0;}
.post_list_module{position:relative;list-style:none;margin:0;padding:0;margin-bottom:40px;}
.post_list_image{
	float:left;
	margin-right:15px;
}

.post_list_image img {

}
.post_list_content{}
.small_post_list .post_list_module{margin-bottom:20px;}

/* Shared Styles 
-------------------------------------------------------------- */
.post_meta{margin-bottom:10px;font-size:9px;}
.post_meta span{margin-right:5px;}
.post_excerpt{margin-bottom:10px;}

/* Social Media 
-------------------------------------------------------------- */
.alli_sociable{float:left;margin-right:20px;}

/* Pagenavi 
-------------------------------------------------------------- */
.wp-pagenavi,.paged-navigation{
	font-size:12px;
	display:block;
	text-align:left;

}
.wp-pagenavi .pagenavi-pages{
	text-align:center;
	display:block;
	border-bottom:1px solid #eee;
	padding-bottom:5px;
	margin-bottom:10px;
	font-size:9px;
	letter-spacing:1px;
	text-transform:uppercase;
	color:#777;
}
.wp-pagenavi a,.wp-pagenavi .current,.wp-pagenavi .extend,.page-numbers {
	padding:0px 10px;
	border-right:1px solid #eee;
}

.wp-pagenavi a:last-child {
	border:none;
}

.pagenavi-page,.page-numbers,.wp-pagenavi .current{
/*	border:1px solid transparent;*/
}
.paged-navigation .next,.paged-navigation .prev {
	border:0;
	background:none;
}

.paged-navigation .page-numbers{
	margin:0;
}

.wp-pagenavi .current,.paged-navigation .current {
	color:#aaa;
	font-weight:bold;
}

.wp-pagenavi a:hover,.paged-navigation a:hover {
	text-decoration:none;
}

/* 
===============================================================================================================
12. WIDGETS
=============================================================================================================== */

.widget li{padding-top:5px;padding-bottom:5px;}
.widget .list li{padding-top:0;}
.widget li ul{padding-top:5px;}
.textwidget{clear:both;}
.widget_tag_cloud a{padding:4px;}

/* Popular/Related/Recent Posts Widget 
-------------------------------------------------------------- */
.small_post_list .post_title{margin-bottom:0;}
.small_post_list .post_meta{margin-bottom:0;}

/* Twitter Widget 
-------------------------------------------------------------- */
.alli_twitter_widget ul{list-style:none;padding-left:0;}
.alli_twitter_widget li{}
.alli_twitter_widget li a{display:block;}

/* Flickr Widget 
-------------------------------------------------------------- */
.flickr_wrap{position:relative;margin-left:-2px;margin-right:-6px;}
.flickr_badge_image{padding:0;float:left;line-height:100%;}
.flickr_badge_image img {
	padding:2px;
	margin:2px;
	border:1px solid rgba(255,255,255,.12);
}

/* WP Recent Comments 
-------------------------------------------------------------- */
#recentcomments{list-style:none;padding-left:0;}
.recentcomments{list-style:none;padding-left:25px !important;background:url(images/shortcodes/icons/icons_222222.png) no-repeat -380px -237px;}

/* Contact Us Widget 
-------------------------------------------------------------- */
.contact_widget_name{background:url(images/shortcodes/icons/icons_222222.png) no-repeat -420px -203px;}
.contact_widget_phone{background:url(images/shortcodes/icons/icons_222222.png) no-repeat -379px -241px;}
.contact_widget_email{background:url(images/shortcodes/icons/icons_222222.png) no-repeat -338px -281px;}
.contact_widget_name,.contact_widget_address,.contact_widget_city,.contact_widget_phone,.contact_widget_email{padding-left:25px;display:inline-block}

/* WP Calendar 
-------------------------------------------------------------- */
#wp-calendar{border-collapse:collapse;border-spacing:0;font-size:11px;margin-bottom:20px;text-align:center;vertical-align:middle;width:100%;}
#wp-calendar caption,#wp-calendar th,#wp-calendar td,#wp-calendar tfoot{padding:5px;}
tfoot td{border:none!important;}
#today{font-weight:bold;}
#next{text-align:right;}
#prev{text-align:left;}

/* RSS Widget 
-------------------------------------------------------------- */
.rss-date{color:#bbb;font-size:9px;text-transform:uppercase;letter-spacing:2px;display:block;margin-bottom:5px;}
.widget_rss li a{font-size:14px;display:block;margin-bottom:5px;}
.rssSummary{margin-bottom:5px;}

/* 
===============================================================================================================
13. MISC
=============================================================================================================== */

/* Margins & Padding 
-------------------------------------------------------------- */
.margin0{margin-bottom:0px!important;}
.margin10{margin-bottom:10px!important;}
.margin20{margin-bottom:20px!important;}
.margin30{margin-bottom:30px!important;}
.margin40{margin-bottom:40px!important;}
.margin50{margin-bottom:50px!important;}
.margin60{margin-bottom:60px!important;}
.margin70{margin-bottom:70px!important;}
.margin80{margin-bottom:80px!important;}
.margin90{margin-bottom:90px!important;}
.margin100{margin-bottom:100px!important;}
.margin0,.margin10,.margin20,.margin30,.margin40,.margin50,.margin60,.margin70,.margin80,.margin90,.margin100{clear:both;overflow:hidden;}

/* Video Frames	
-------------------------------------------------------------- */
.video_frame{display:inline-block;}
.video_frame iframe{vertical-align:bottom;}

/* Alignment Shortcodes 
-------------------------------------------------------------- */
.aligncenter{display:block;margin:20px auto;text-align:center;}
.alignright{float:right;margin:5px 0 20px 4%;}
.alignleft{float:left;margin:5px 4% 20px 0;}

/* Misc. Shortcodes 
-------------------------------------------------------------- */
.hidden{display:none;visibility:hidden;}
.styled_amp{font-family:Baskerville,"Goudy Old Style","Hoefler Text",Palatino,cursive;font-size:130%;font-style:italic;}

/* SyntaxHighlighter
-------------------------------------------------------------- */
.syntaxhighlighter.msmw_syntax{background:#f8f8f8!important;border:1px solid #eee!important;width:99%!important;font-size:12px!important;margin:20px 0 30px!important}
.syntaxhighlighter.msmw_syntax .line{background:#f8f8f8!important;border-bottom:1px solid #eee!important;line-height:20px!important;height:20px!important;color:#222;}
.syntaxhighlighter.msmw_syntax .line.alt1{background:#fefefe!important;}
.syntaxhighlighter.msmw_syntax .line.alt2{background:#f8f8f8!important;}
.syntaxhighlighter.msmw_syntax .gutter .line{border-right:3px solid #eee!important;padding-right:5px!important;padding-left:25px!important;text-align:right!important;color:#afafaf!important;}
.syntaxhighlighter.msmw_syntax textarea{line-height:21px!important;}

/* 
===============================================================================================================
14. PROGRESSIVE ENHANCEMENTS
=============================================================================================================== */

.ui-widget-content,.ui-cluetip-outer{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}

/* Transitions
-------------------------------------------------------------- */
/*#searchsubmit,#submit,.hover_fade,.styled_link,.styled_button,.button_link,.tabs_framed a,.top a{opacity:1;
-webkit-transition:all .5s ease;
-moz-transition:all .5s ease;
-o-transition:all .5s ease;
transition:all .5s ease;}
#searchsubmit:hover,#submit:hover,.hover_fade:hover,.styled_link:hover,.styled_button:hover,.button_link:hover,.top a:hover{opacity:.7;}*/

.table,.titled_box_content,.styled_box,.pullquote,.toggle_frame {
	background-color:#f4f4f4;
	border-radius:4px;
}

