/*
Theme Name: Insignia
Theme URI: http://alliase.com/themes/insignia
Description: A Magazine / Community / Blog Premium Wordpress Theme
Tags: White
Author: Alliase
Author URI: http://themeforest.net/user/Alliase
License: 
License URI:
Version: 1.2
*/
/*  TOC 
01. GENERAL TYPOGRAPHY 
02. STRUCTURE
    1. Header
    2. Breadcrumbs
    3. Content
    4. Footer
03. MENU
04. POST LISTS & GRIDS
05. SINGULAR POSTS
06. WIDGETS & SHORTCODES
07. SLIDERS
08. MISCELLANEOUS
*/
/*
===============================================================================================================
01. GENERAL TYPOGRAPHY
=============================================================================================================== */
/* Global Reset
-------------------------------------------------------------- */
html, body, div, form, fieldset, input, textarea, h1, h2, h3, h4, h5, h6, p, ul, ol, li { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; }
li ol, li ul { margin-bottom: 0 }
body, html { margin: 0; padding: 0; font-family: Lucida Grande, Helvetica, Arial, Verdana, sans-serif; font-size: 12px; }
ul { list-style: none; margin: 0; padding: 0; }
.clear_both { clear: both; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: normal; }
p { margin: 0; padding: 0; font-size: 12px; line-height: 17px; color: #414141; }
a { text-decoration: none; }
a:hover { text-decoration: underline; color:#4292cb }
.container { position:relative; margin:0; padding:0; overflow:hidden; clear: both; }
img, fieldset { border: 0 }
.entry{line-height:20px;}
iframe {border:none !important;}
div.really_simple_share {margin-top:10px;}
FBConnectButton_Small, .FBConnectButton_RTL_Small {margin-top: 4px;}
/* Headers
-------------------------------------------------------------- */
h1 { font-size: 36px; letter-spacing: 0px; line-height: 111%; font-family: ProximaNovaThin, sans-serif; }
h2 { font-size: 32px; letter-spacing: 0px; line-height: 125%; font-family: ProximaNovaThin, sans-serif; }
h3 { font-size: 22px; letter-spacing: 0px; line-height: 136%; font-family: ProximaNovaThin, sans-serif; }
h4 { font-size: 18px; letter-spacing: 0px; line-height: 139%; font-family: ProximaNovaThin, sans-serif; }
h5 { margin-bottom: 20px; font-size: 16px; text-transform: uppercase; letter-spacing: 1.6px; font-family: ProximaNovaThin, sans-serif; }
h6 { margin-bottom: 15px; padding-bottom: 5px; font-size: 12px; text-transform: uppercase; letter-spacing: 1.6px; font-family: Tahoma, Geneva, Arial, sans-serif; }
h4+h6 { margin-top: -10px }
/* 
-------------------------------------------------------------- */
/*
===============================================================================================================
01. STAYCLASSY STYLES
=============================================================================================================== */
#masthead { width:100%; height:182px; background: #18222B url(images/masthead_bg.jpg) center top repeat-x; }
#masthead #masthead_inner { width: 940px; margin: 0 auto; padding:0 20px }
#masthead #masthead_inner a#logo_link { padding-top:52px; display:block; float:left; }
#masthead #masthead_inner a#logo_link h1 { text-indent:-10000px; background: url(images/blog_logo.png) no-repeat; width:332px; height:81px; overflow:hidden; }
#masthead #masthead_inner a#sc { text-decoration:none; float:right; background:#191E21; color:#266A99; padding:8px 10px; display:block; border-bottom-left-radius:6px; -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; border-bottom-right-radius:6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; }
#masthead #masthead_inner a#sc:hover { background:#266A99; color:#191E21 }
#masthead #masthead_inner h2#fundraising_reimagined { color:#6696ba; font: 30px CaeciliaRegular; float:right; text-shadow:0px 1px 5px #000; clear:both; margin-top:-55px; }
#masthead #masthead_inner h2#fundraising_reimagined span { font-family: CaeciliaBold; color:#7297b3; }
#top_nav { height:40px; background:#445A69; }
#top_nav #top_nav_inner { width: 940px; margin: 0 auto; padding:0 20px }
#top_nav #top_nav_inner a#home { background:url(images/icon_home.png) 0 0 no-repeat; width:31px; height:32px; float:left; margin:4px 5px 0; text-indent:-10000px }
#top_nav #top_nav_inner a#home:hover { background-position: 0 -32px; }
#top_nav #top_nav_inner a.nav_link { text-decoration:none; color:#fff; text-transform:uppercase; display:inline-block; height:14px; padding:13px 21px; text-align:center; }
#top_nav #top_nav_inner a.nav_link:hover { background:#30404B }
#top_nav #top_nav_inner a.nav_link span { display:inline-block; background:url(images/down_arrow.png) no-repeat; width:10px; height:5px; margin-left:5px; }
#top_nav #top_nav_inner .drop_down { display:none; }

#connect_subscribe{margin-bottom:40px;}
h2.right_column{color:#333; font: 18px ProximaNovaBold; padding-bottom: 10px; background: url(images/h2_border_btm.png) 0 bottom repeat-x;margin-bottom:12px;}
h2.right_column span {color:#4292cb; font: 20px Pictos; padding-right:7px;}
#connect_icons {width:240px; height:40px;margin: 20px auto;}
#connect_icons a#facebook {width:41px; height:37px; background: url(images/icons_sprite.png) 0 0 no-repeat;text-indent:-10000px;display:inline-block;}
#connect_icons a#facebook:hover {background-position: 0 -39px}
#connect_icons a#twitter {width:44px; height:37px; background: url(images/icons_sprite.png) -47px 0 no-repeat;text-indent:-10000px;display:inline-block;}
#connect_icons a#twitter:hover {background-position: -47px -39px}
#connect_icons a#linkedin {width:44px; height:38px; background: url(images/icons_sprite.png) -98px 0 no-repeat;text-indent:-10000px;display:inline-block;}
#connect_icons a#linkedin:hover {background-position: -98px -39px}
#connect_icons a#google {width:44px; height:38px; background: url(images/icons_sprite.png) -148px 0 no-repeat;text-indent:-10000px;display:inline-block;}
#connect_icons a#google:hover {background-position: -148px -39px}
#connect_icons a#rss {width:44px; height:38px; background: url(images/icons_sprite.png) -199px 0 no-repeat;text-indent:-10000px;display:inline-block;}
#connect_icons a#rss:hover {background-position: -199px -39px}
#connect_subscribe #mc-embedded-subscribe{cursor:pointer;background:#4292cb; height:27px; padding:4px 8px; color:#fff; display:block;margin:-31px 2px 0 0;float:right;border:none;-moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
#connect_subscribe #mc-embedded-subscribe:hover{background:#69b8f1;}
#connect_subscribe #mce-EMAIL{font-size:12px;margin-right: 5px;padding: 4px 93px 4px 30px;width: 147px;;float: left;z-index: 999;background:#fff url(images/icon_mail.png) 4px 7px no-repeat;border:1px solid #ccc;height:25px;color:#333; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}



#connect_subscribe p strong{font: 16px ProximaNovaBold; color:#333;}

#must_reads{margin-top:80px;clear:both;}
#must_reads h1 {text-indent:-10000px; background: url(images/must_reads_hdr.png) no-repeat; width:271px; height:44px;}
#must_reads #content {width: 239px;border-left:#2D5880 solid 7px;border-right:#2D5880 solid 7px;background:#f8f8f8; padding: 15px 8px 8px 10px;}
#weekOf {background: #2D5880;text-align: center;color: #d4eaf8;font-size: 11px;padding: 7px 0;width: 271px;}
#must_reads #content .story {display:table; margin-bottom:10px;border-bottom: 1px dotted #ccc;padding-bottom: 10px;width: 100%;}
#must_reads #content .story img {float:left; margin-right:8px; width:58px; height:55px; } 
#must_reads #content .story .link {display:table-cell; vertical-align:middle;}
#must_reads #content .story .link a {font:16px ProximaNovaRegular; color:#333; text-decoration:none}
#must_reads #content .story .link a:hover {text-decoration:underline;}
#must_reads #content .story .link em {color:#888; font-size:11px; display:block; padding-top:3px;}
#must_reads #bottom_cap{background: url(images/must_read_btm.jpg) no-repeat; width:271px; height:24px;margin-bottom:40px;}

#archives{margin-bottom:0px;}
#archives #tag_cloud {padding: 8px;background: #f8f8f8;margin-top: 10px;-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; }
#archives #tag_cloud a.tag {background: #d3eeff;; border: solid 1px #90bde0; padding: 3px 6px 5px 6px; color:#4a7c9c; font-size:11px; display:inline-block;margin:3px;-moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#archives #tag_cloud a.tag:hover {background:#ecf8ff;text-decoration:none;}
#archives #tag_cloud a.all {font-weight:bold; color:#4292cb;display: block;margin-top: 10px;}
#archives form{height:55px;}
#archives #search_btn{font-size:11px; cursor:pointer;background:#4292cb; height:27px; padding:4px 8px; color:#fff; display:block;margin:-31px 2px 0 0;float:right;border:none;-moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}
#archives #search_btn:hover{background:#69b8f1;}
#archives #search_field{margin-right: 5px;padding: 4px 78px 4px 30px;width: 162px;;float: left;z-index: 999;background:#fff url(images/icon_search.png) 4px 9px no-repeat;border:1px solid #ccc;height:25px;color:#333; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}

#twitter_feed {margin-bottom:40px;}
#twitter_feed h2.right_column span {font-size:23px;}
.twtr-hd, .twtr-ft  {display:none !important;}
.twtr-timeline {-moz-border-radius:4px !important; -webkit-border-radius:4px !important; border-radius:4px !important; }
.twtr-widget .twtr-tweet-wrap {padding: 11px 14px !important;}

#blogs_we_love{margin-bottom:40px}
#blogs_we_love ul {font: 14px CaeciliaRegular;margin-left:5px;}
#blogs_we_love ul li {padding: 8px 2px 8px 14px;}
#blogs_we_love ul li a {font: normal 12px "Lucida Sans Unicode", "Lucida Grande", sans-serif;color:#4292cb}
#blogs_we_love ul li:nth-child(even) {background: #f8f8f8}
#blogs_we_love ul li:nth-child(odd) {background: #FFF}


a.blue_btn {background:#4292cb; display:inline-block;padding:9px 14px 9px 14px;; color:#fff; text-transform:uppercase; text-decoration:none;-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;  }
a.blue_btn span {font: 10px Pictos; padding-left: 4px;float:right;margin: -2px 0 0 5px;}
a.blue_btn:hover{background:#69b8f1;}
a.blue_link {color: #4292cb; text-decoration:none;display:block; margin-top:6px;}
a.blue_link span {font-family:Pictos;padding-left:5px;}
a.blue_link:hover {color:#69b8f1}
#featured_story_info a.blue_btn {margin-top:15px;}

#footer_wrapper { width: 100%; background: #333 url(images/ft_bg.png); clear: both; padding: 30px 0; margin-top:60px; display:inline-block; }
#footer { width: 940px; margin: 60px auto 105px; color:#888; }
#footer a { color: #999; }
#footer a:hover { color: #fff !important; text-decoration:none;}
#footer_left { width: 435px; float: left; border-right: 1px dotted #555; padding: 10px 34px 10px 0; }
#what_is { font-size: 22px; color: #d6d6d6; text-transform: uppercase; margin-bottom: 10px; }
#what_is span { display: block; font-family: 'CaeciliaBold'; }
#what_is .classy-awards { font-size: 48px; font-family: 'ProximaNovaBold'; }
#what_is p { font-size:11px; color: #666; text-transform: none; }

#footer_left p#tag{color:#777;font:bold 15px Lucida Grande;display: block;padding-bottom: 25px;}
#footer_left #sc_icons a.icon_sxn {display:table; width:200px;float:left;margin: 12px 17px 12px 0;}
#footer_left #sc_icons a.icon_sxn:hover {text-decoration:none !important;}
#footer_left #sc_icons a.icon_sxn img {float:left; margin-right:10px;width:37px;}
#footer_left #sc_icons a.icon_sxn .info{display:table-cell;vertical-align:middle;}
#footer_left #sc_icons a.icon_sxn .info strong {color:#e2e2e2; font-size:12px;}
#footer_left #sc_icons a.icon_sxn .info span {color:#ccc;font-size:11px; color:#666;display:block;}


#classy_award { font-size: 22px; color: #817f7e; text-transform: uppercase; clear:both;background: #2c2c2c;padding: 10px;margin-top: 166px;-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;}
#classy_award span { display: block; font-family: 'CaeciliaBold'; color:#999;}
#classy_award .classy-awards { font-size: 45px; font-family: 'ProximaNovaBold'; }
#classy_award .award-show { text-transform: none; margin-bottom: 20px; font-weight: normal; font-family: font-family: Lucida Grande;font-size: 14px;color: #ddd; }
ul.award-info { font-family: 'ProximaNovaExtraBold', Helvetica, Arial, sans-serif; font-size: 14px; }
ul.award-info li { display: block; float: left; margin-right: 20px; }
ul.award-info li.about-awards span { width: 13px; height: 16px; margin-right: 5px; float: left; background: url('/images/dt/award_info_icon1.png') 0 0 no-repeat; }
ul.award-info li.view-nominations span { width: 24px; height: 12px; margin-right: 5px; float: left; background: url('/images/dt/award_info_icon2.png') 0 0 no-repeat; }


#footer_utilities { font-size:11px; margin-top:40px;}
#footer_utilities ul li { display: inline; margin-right: 10px; }
#footer_utilities ul li a{ font-size:11px !important; }
#footer_utilities span { display: block; margin-bottom: 5px; }
#footer_right { float: left; padding: 10px 0 10px 34px; }
#footer_right_nav { margin-bottom: 35px; }
#footer_right ul li { float: left; line-height: 20px; }
#footer_right ul li.fabout, #footer_right ul li.ffeatures { margin-right: 40px; }
#footer #footer_right li a { color: #999; font-size: 12px; }
#footer_right ul li ul li { clear:both; margin: 0; }
#footer #footer_right ul li ul li a { font-size: 11px; color: #676662; font-weight: normal; }
#footer #footer_right ul li ul li a:hover { color: #ccc; }
#footer_right #facebook { margin-top: 146px; }

#footer_right .last {width:402px !important;}
#footer_right .last h4.widgettitle{color: #D6D6D6 !important;font-family: CaeciliaBold;text-transform: uppercase;font-size: 22px;}
.really_simple_share_facebook_like {height:35px !important;}

.entry ul{list-style-type: disc !important;margin-left:25px;}

.green_cta{display: inline-block;text-align: center;font-weight: bold;color: white !important;text-decoration: none;border: 1px solid #4E5F1F;letter-spacing: 1px;font: 14px ProximaNovaBold;text-transform: uppercase;padding: 15px 22px;-moz-border-radius: 5px;-moz-box-shadow: inset 0px -1px 1px 0px #72901a;-webkit-box-shadow: inset 0px -1px 1px 0px #72901A;box-shadow: inset 0px -1px 1px 0px #72901A;background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #B2D947), color-stop(1, #93BC23) );background-color: #B2D947;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;text-shadow: 0 1px 0px #518105;position: relative;behavior: url(/css/PIE.php);}
.green_cta:hover {color: white !important;text-decoration: none;background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #93BC23), color-stop(1, #B2D947) );background-color: #93BC23;cursor: pointer;}



/* Glossary
-------------------------------------------------------------- */

#glossary span#intro {display:block;  border-bottom:1px dotted #ccc; padding-bottom:20px;color:#333;}
#glossary p {color:#777;}
#glossary .letter_sxn {display:block; color:#333; border-top:1px solid #ccc; border-bottom: 1px solid #ccc; padding:2px 0 0 10px; background:#f9f9f9; margin: 25px 0 0 0;font: 23px CaeciliaLight;}
#glossary h4 {color: #4292cb !important;font: 20px CaeciliaRegular; padding: 40px 0 5px 0;background:none !important;}
/* Forms & Buttons 
-------------------------------------------------------------- */
.textfield, .password, .textarea, #s, #comment { padding: 6px; color: #555; background: #FBFBFB; border-color: #ccc #DADADA #E4E4E4; border-style: solid; border-width: 1px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; font: normal 12px Arial, Helvetica, sans-serif; }
.textfield:focus, .password:focus, .textarea:focus, #s:focus, #comment:focus { border-color: #333; outline: none; }
.textarea, #comment { width: 97%; height: 120px; }
.textfield_label { font-size: 11px }
span.required { color: red; font-size: 10px; }
#submit, .styled_button, .button_link, #searchsubmit, .post_more_link, .tabs_button a.current { display: inline-block; margin: 1px 10px 10px 0; color: white; font-size: 11px; font-weight: bold; text-decoration: none !important; border: none; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; background: #4292cb; cursor: pointer; }
.post_more_link:hover { color: #fff; text-decoration: none; }
.button_link:hover { color: #fff!important }
#searchsubmit { margin: 1px; padding: 7px 14px 6px; }
.contact_form_submit { padding: 7px 15px; line-height: 11px; }
.small_button, .post_more_link, #submit { padding: 7px 15px; line-height: 11px; }
.post_more_link {margin-top:7px;}
.medium_button { margin-right: 10px; height: 30px; line-height: 30px; padding: 0 20px; font-size: 14px; font-weight: normal; }
.large_button { height: 50px; height: 58px; margin-right: 10px; padding: 0 35px; font-size: 18px; font-weight: normal; line-height: 51px; line-height: 56px; }
/* Custom Columns
-------------------------------------------------------------- */
.one_half { width: 47.5% }
.one_third { width: 30% }
.two_third { width: 65% }
.one_fourth { width: 21.25% }
.three_fourth { width: 73.75% }
.one_fifth { width: 16% }
.two_fifth { width: 37% }
.three_fifth { width: 58% }
.four_fifth { width: 79% }
.one_sixth { width: 12.5% }
.five_sixth { width: 82.5% }
.custom_column { position: relative; float: left; margin: 0; }
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth { position: relative; float: left; margin-right: 5%; margin-bottom: 20px; }
/*
===============================================================================================================
02. STRUCTURE
=============================================================================================================== */
body { position: relative; min-width: 940px; }
#body_inner { position: relative; width: 940px; margin: 0px auto; background: #fff; padding:0 20px; }
#header_inner, #content_inner, #footer_inner, #sub_footer_inner, .inner { position: relative; width: 940px; margin: 0 auto; }
#body_inner .galleria-thumbnails .galleria-image { background: transparent; border: 0; }
#body_inner .galleria-thumbnails-container { right: 5px!important; bottom: 5px!important; left: 5px!important; height: 40px!important; }
#body_inner .galleria-stage { top: 5px!important; right: 5px!important; bottom: 50px!important; left: 5px!important; }
/* Header
-------------------------------------------------------------- */
#header { float: left; width: 100%; padding-bottom: 15px; font-family: Arial, Helvetica, sans-serif; }
#header_extras { display: block; float: left; width: 100%; margin-bottom: 15px; padding: 5px 0 0px 0; color: #aaa; border-bottom: 1px solid rgba(255,255,255,.1); font-size: 10px; clear: both; }
.header_links { float: left; padding: 2px 0 3px; font-size: 10px; }
.header_links li { float: left; padding-right: 12px; }
.header_links li ul { float: right; margin-right: 0px; }
.header_links li a { }
.header_links li a:hover { text-decoration: none }
.header_links ul { margin: 0; padding: 0; list-style: none; }
.header_social { float: right; padding-left: 5px; }
.header_social .social_icon { float: left; height: 24px; padding-left: 5px; }
.header_social .social_icon a { opacity: .4 }
.header_social .social_icon a:hover { transition-property: opacity; transition-delay: 3s; opacity: 1; }
.header_text { float: left; padding-top: 2px; }
.logo { display: block; float: left; margin-top: 10px; margin-bottom: 10px; clear: both; }
#header_ad { float: right; height: 60px; margin-top: 2px; color: #ccc; font-size: 24px; line-height: 60px; overflow-y: hidden; }
/* Breadcrumbs
-------------------------------------------------------------- */
#breadcrumbs { clear: both; float: left; display: block; width: 100%; }
#breadcrumbs .delimiter { padding: 0 4px; color: #aaa!important; }
#breadcrumbs a { color: #999!important; font-size: 10px; }
#breadcrumbs a:hover { color: #555!important }
#breadcrumbs a:first-child { padding-left: 0!important }
#breadcrumbs_inner { display:none;position: relative; color: #aaa; font-size: 10px; text-transform: uppercase; letter-spacing: 1px; font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; z-index: 20; margin-bottom: 20px; }
/* Content
-------------------------------------------------------------- */
#content { padding-top: 5px; padding-bottom: 40px; clear: both; }
#main { min-height: 250px }
#content .teaser { line-height: 150% }
#sidebar { min-height: 300px }
#sidebar .small_post_list .post_list_module { margin-bottom: 0 }
#sidebar .alli_twitter_widget li { padding-left: 0!important }
#sidebar .alli_popular_widget>ul, #footer .alli_popular_widget>ul, #sidebar .alli_recent_widget>ul, #footer .alli_recent_widget>ul, #sidebar .alli_twitter_widget>ul, #footer .alli_twitter_widget>ul, #sidebar .widget_recent_comments>ul, #footer .widget_recent_comments>ul, #sidebar .widget_recent_entries>ul, #footer .widget_recent_entries>ul, #sidebar .widget_categories>ul, #footer .widget_categories>ul, #sidebar .widget_links>ul, #footer .widget_links>ul, #sidebar .widget_archive>ul, #footer .widget_archive>ul, #sidebar .widget_meta>ul, #footer .widget_meta>ul, #sidebar .alli_subnav_widget>ul, #footer .alli_subnav_widget>ul, #sidebar .widget_nav_menu .menu, #footer .widget_nav_menu .menu, #sidebar .widget_pages>ul, #footer .widget_pages>ul { }
#sidebar .widget_categories a, #sidebar .widget_links a, #sidebar .widget_archive a, #sidebar .widget_meta a, #sidebar .alli_subnav_widget a, #sidebar .widget_nav_menu a, #sidebar .widget_pages a, #sidebar .widget_recent_entries a { background: url(images/shortcodes/icons/icons_222222.png) no-repeat -67px -557px; padding-left: 20px; }
#sidebar .post_list_module, #sidebar .alli_twitter_widget li, #sidebar .widget_categories li, #sidebar .widget_links li, #sidebar .widget_archive li, #sidebar .widget_meta li, #sidebar .alli_subnav_widget li, #sidebar .widget_nav_menu li, #sidebar .widget_pages li, #sidebar .widget_recent_entries li { padding-top: 5px; padding-bottom: 7px; }
#sidebar .widget_pages li li, #sidebar .widget_nav_menu li li, #sidebar .widget_categories li li { background: url(images/line.gif) repeat-x center top }
#sidebar .widget_pages li li a, #sidebar .widget_nav_menu li li a, #sidebar .widget_categories li li a { margin-left: 20px }
#sidebar .recentcomments { }
#sidebar .recentcomments span { padding-left: 26px !important; background: url(images/shortcodes/icons/icons_dddddd.png) no-repeat -380px -243px transparent; }
#sidebar .post_meta a { color: #aaa; font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; letter-spacing: 1px; font-size: 11px; }
#sidebar .widgettitle { font-size: 18px!important; line-height: 30px;margin-top: -36px;background: none; }
#sidebar .widget, #footer .widget { position: relative; padding: 0 0 40px 0; overflow: hidden; }
#footer .widget li { padding-left: 10px; border-bottom: 1px dotted rgba(255,255,255,.12); text-shadow: none; width:100%}
#footer .widget li:last-child { border-bottom: none }
#main h4, #sidebar h4 { color: #333;font: 18px ProximaNovaBold;padding-bottom: 10px;background: url(images/h2_border_btm.png) 0 bottom repeat-x;margin-bottom: 12px; }
#sidebar h4 { color:#333; font: 18px ProximaNovaBold; padding-bottom: 10px; background: url(images/h2_border_btm.png) 0 bottom repeat-x; margin-bottom:12px; }
#main h4 span, #sidebar h4 span { padding-right: 15px; background: #fff; }
#sidebar h4 span { }
.right_sidebar #main { position: relative; float: left; width: 640px; margin-right:30px; z-index: 2; }
.right_sidebar #main_inner { float: left; width: 640px; margin-right:30px; }
.right_sidebar #sidebar { position: relative; width:270px; float:left }
.right_sidebar #sidebar_inner { position: relative; margin-bottom: 30px;  }
.right_sidebar #content { }
.left_sidebar #main { position: relative; float: right; width: 640px; z-index: 2; }
.left_sidebar #sidebar { position: relative; padding-right: 760px; z-index: 1; }
.left_sidebar #main_inner { float: right; width: 640px; }
.left_sidebar #sidebar_inner { position: relative; margin-top: 30px; margin-bottom: 30px; padding-right: 35px; }
.left_sidebar #content { background: url('images/assets/left_sidebar_repeater.png') top right repeat-y }
#content_inner { display: block; margin-top: 30px; /* background: url('images/assets/sidebar.png') 754px top repeat-y*/ ; }
.left_sidebar #content_inner { padding: 0 30px 0 25px }
body.full_width #content_inner, .left_sidebar #content_inner { background: none }
img.framed { padding: 2px; border: 1px solid #ddd; }
/* Footer
-------------------------------------------------------------- 
#footer { position: relative; overflow: hidden; border-top-style: solid; border-top-width: 3px; font-family: Arial, Helvetica, sans-serif; }
#footer .widget_categories a, #footer .widget_nav_menu a, #footer .widget_pages a { display: block; padding: 5px 0; }
#footer .small_post_list, #footer .post_title a { font-size: 13px }
#footer .post_grid_image img, #footer .post_list_image img, #footer .framed { margin-bottom: 15px; padding: 2px; border: 1px solid rgba(255,255,255,.12); outline: none; }
#footer .widget_pages li, #footer .widget_nav_menu li, #footer .widget_categories li { padding: 0 0 0 5px }
#footer .textwidget p { font-size: 12px; line-height: 20px; }
#footer .widgettitle { margin-bottom: 15px; text-transform: uppercase; letter-spacing: 1px; }
#footer .post_meta { font-size: 11px; letter-spacing: 1px; }
#footer .post_meta a { font-size: 10px; letter-spacing: 1px; color: #555; }
#footer .widget { padding: 0 0 20px 0; clear: both; }
#footer table { background: #f9f9f9 }
#footer_inner { padding-top: 45px; padding-bottom: 20px; }
#sub_footer { overflow: hidden }
#sub_footer a:hover { text-decoration: none }
#sub_footer_inner { padding: 20px 0; border-top-width: 1px; border-top-style: dotted; }
.copyright_text { float: left }
.footer_links { float: right }
.footer_links li { float: left; padding-right: 12px; }
.footer_links ul { margin: 0; padding: 0; list-style: none; }
.footer_links ul ul { float: right; margin-right: 0px; }
.no_footer #footer { display: none }
/*
===============================================================================================================
03. Menu
=============================================================================================================== */
#main_menu { float: left; width: 100%; height: 40px; font: normal 14px ProximaNovaRegular; clear: both; }
#header_extras+#main_menu { top: 30px }
#main_menu .inner { position: relative; height: 40px; }
.main_navigation { position: relative; height: 40px; z-index: 2000; }
.main_navigation ul li a { color:#fff; font-size:13px; text-transform:uppercase; }
.main_navigation ul li a:hover { background-color: #30404B;color:#fff; text-decoration:none; }
.main_navigation li.current-menu-ancestor { }
.main_navigation li.home > a { margin:4px 5px 0; position: relative; background:url(images/icon_home.png) 0 0 no-repeat; width:31px; height:32px; text-indent: -9999px; padding:0px; }
.main_navigation li.home > a:hover { background-position: 0 -32px; }
.main_navigation li.arrow span {background:url(images/down_arrow.png) right 6px no-repeat;padding-right:17px}
.main_navigation li.arrow a, .main_navigation li.arrow a:hover {padding-right:8px;}
.main_navigation small { display: none }
.main_navigation ul { position: relative; display: inline; float: left; margin: 0; padding: 0; list-style-type: none; /*left: -15px;*/ }
.main_navigation ul ul { position: absolute; display: block; left: 0px; padding-top: 1px; padding-bottom: 2px; visibility: hidden; z-index: 2000; }
.main_navigation ul ul ul { margin-top: -2px; z-index: 2001; }
.main_navigation ul ul li { display: list-item; float: none; }
.main_navigation ul ul a { width: 152px; height: 100%; margin: 0; padding: 6px 13px; line-height: 20px; }
.main_navigation ul ul a { box-shadow: none!important }
.main_navigation ul ul a:hover {background:#11171c }
.main_navigation li { position: relative; display: inline; float: left; }
.main_navigation li a .menu_arrow {background:none;}
.main_navigation li a:hover .menu_arrow, .main_navigation li:hover a .menu_arrow { position: relative; display: block; width: 0 !important; margin: -8px auto 0; padding: 0; border-right: 10px solid transparent !important; border-bottom: 10px solid; border-left: 10px solid transparent !important; }
.main_navigation a { display: block; height: 40px; padding: 0 22px; text-decoration: none; line-height: 45px; overflow: hidden; overflow: visible; }
.main_navigation a:hover { text-decoration: none; }
.main_navigation ul ul {background: #1f2b33;}
.main_navigation li a:hover .menu_arrow,.main_navigation li:hover a .menu_arrow {
	border-color:#1f2b33;
}
/*
===============================================================================================================
04. POST LISTS & GRIDS
=============================================================================================================== */
.post_title { margin-bottom: 0px }
/* Specific Layouts
-------------------------------------------------------------- */
.portfolio .post_title, .portfolio .post_meta { background-image: none }
.portfolio .date { color: #aaa; font-size: 10px; text-transform: uppercase; line-height: 15px; }
.portfolio .post_title+.date { margin-top: -10px }
.portfolio .entry { margin-top: 15px }
.right_sidebar .blog_layout3 .one_half .meta_category, .left_sidebar .blog_layout3 .one_half .meta_category { display: none }
.one_column_portfolio .post_grid_module { padding: 0 0 50px 0 }
/* Meta
-------------------------------------------------------------- */
.post_meta { padding: 5px 1px 5px; color: #aaa; font-size: 11px; letter-spacing: 0px; }
.post_meta em { font-style: normal; font-style:normal; }
.post_meta a { text-transform: uppercase; color:#555; }
.post_meta a:hover {text-decoration:underline;}
.post_meta_bottom { margin: 20px 0 40px; font-size: 10px;  padding: 7px;background: #f8f8f8;}
.post_meta_bottom span { padding-right: 20px }
.post_meta_bottom em { font-weight: bold; font-style: normal; text-transform: uppercase; }
/*
===============================================================================================================
05. SINGULAR POSTS
=============================================================================================================== */
/* Post Images 
-------------------------------------------------------------- */
.single_post_image { margin-bottom: 10px!important }
.post_grid_image img, .post_list_image img, .single_post_image img { vertical-align: bottom }
.post_grid_module, .post_list_module { padding-bottom: 15px }
.post_grid_module h3 { margin-bottom: 10px; font-size: 18px; }
ul.post_list li { padding-left: 0!important; background: none!important; border-bottom: 1px solid #eee;}
ul.post_list li:nth-last-child(1) {border:none;}
.single_post_content h2.post_title{color: #333;font-size: 30px!important;}
/*.post_grid_image{text-align:center;}_NO__DOTCOMMA__AFTER___NO__DOTCOMMA__AFTER__*/
/* Single Post Module
-------------------------------------------------------------- */
.single_post_module { margin-bottom: 30px }
.single_post_image { display: block;  }
.single_post_module .post_title, .blog_layout1 .post_title, .blog_layout2 .post_title, .blog_layout3 .post_title { font: 21px ProximaNovaRegular;  }
.single_post_module .post_title, .blog_layout1 .post_title, .blog_layout2 .post_title, .blog_layout3 .post_title, .large_post_list .post_title, .medium_post_list .post_title, .one_column_blog .post_title, .two_column_blog .post_title, .three_column_blog .post_title { }
.sticky, .gallery-caption, .bypostauthor { }
.single_post_content { position: relative ; margin-top: 15px;overflow:hidden;}
#sidebar .widgettitle, h6, td, th, .single_post_content .post_meta, .single_post_content .post_title { }
/* Post Nav Module
-------------------------------------------------------------- */
.post_nav_module { margin-bottom: 30px; overflow: hidden; }
.previous_post { float: left }
.next_post { text-align: right }
/* About Author Module
-------------------------------------------------------------- */
.about_author_module { position: relative; margin-bottom: 50px; overflow: hidden; border-top: 1px solid #eee; padding-top: 20px; }
.about_author_content { clear: both }
.about_author_module .styled_link { display: block }
.about_author_module .avatar { float: left; margin-right: 28px; margin: 0; padding: 0; }
.about_author_title { clear: both; float: left; font-size: 16px; }
.author_bio { padding-left: 20px; color: #888; overflow: hidden; }
.author_name { font-weight: bold; font-size: 16px; display: block; margin-bottom: 10px; font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.author_bio a { margin-top: 10px }
/* Blog Tabs
-------------------------------------------------------------- */
.blog_tabs_container { background: url(images/line.gif) repeat-x center top }
.blog_tabs { height: 34px; margin: 0; padding: 0; list-style-type: none; background: url(images/line.gif) repeat-x center bottom; }
.blog_tabs a.current { padding: 6px 1px 4px; color: #666; border-top: 2px solid; cursor: default; }
.blog_tabs li { float: left; margin: 0; padding: 0; list-style-type: none; }
.blog_tabs a { position: relative; display: block; margin-right: 30px; padding: 8px 1px 4px; font-size: 10px; text-decoration: none; text-transform: uppercase; letter-spacing: 1px; font-family: tahoma; }
.blog_tabs a:hover { color: #888; text-decoration: none; }
.blog_tabs_content { display: none; padding-top: 30px; }
/* Additional Posts Module
-------------------------------------------------------------- */
.additional_posts_module { margin-bottom: 0px }
.additional_posts_module .post_grid_module, .additional_posts_module .one_fourth { margin-bottom: 0 }
.avatar, .widget .small_post_list img, .additional_posts_module .small_post_list img { float: left; margin: 1px; padding: 3px; }
.additional_posts_module .post_grid_image { margin-bottom: 10px }
.share_this_module+.additional_posts_module { margin-top: 60px }
/* Threaded Comments
-------------------------------------------------------------- */
#comments { margin-top: 50px; margin: 45px 0 5px 0; clear: both; }
.comment-text { position: relative; min-height: 90px; padding-right: 15px; padding-bottom: 10px; margin: 10px 0; color: #888; border-bottom: 1px solid #eee; overflow: hidden; }
.comment-text ol li { list-style: decimal; overflow: visible; }
.comment-text li { margin: 0; padding: 2px; background: none; border: none!important; }
.commentlist { padding-left: 0; margin: 0 0 20px 0; }
.commentmetadata, .commentlist .reply { float: left; margin-right: 5px; font-size: 10px; text-transform: lowercase; }
.commentlist li { padding: 10px 0; list-style-image: none; list-style-position: outside; list-style-type: none; overflow: hidden; clear: both; }
.commentlist li li { margin-left: 20px }
img.avatar { padding: 1px; border: 1px solid rgba(0,0,0,.12); }
.children { padding: 0 }
.awaiting_moderation { display: inline-block; margin-bottom: 10px; padding: 0 10px; font-size: 10px; background: #fff; border: 1px solid #eee; }
.comment-author { float: left; width: 90px; overflow: hidden; line-height: 16px; }
.comment-author .date { display: block; padding-left: 2px; color: #bbb; font-size: 9px; text-transform: uppercase; line-height: 15px; }
.comment-author cite { display: inline-block; padding-top: 5px; padding-left: 2px; color: #666; font-size: 12px; font-style: normal; text-transform: capitalize; }
.trackbacks_pingbacks.commentlist li { padding: 10px 0; background: none; }
/* Reply Form
-------------------------------------------------------------- */
#commentform { padding-top: 20px }
#respond { padding-bottom: 60px; clear: both; }
#respond h3 { margin-bottom: 0px }
#cancel-comment-reply-link { padding-left: 2px; color: #bbb; font-size: 9px; text-transform: uppercase; line-height: 15px; }
#cancel-comment-reply-link:hover { text-decoration: none!important }
/*  
===============================================================================================================
06. WIDGETS & SHORTCODE OVERRIDES
=============================================================================================================== */
.widget ul { margin: 0; padding: 0; list-style: none; }
.widget a:hover { text-decoration: none }
.widgettitle { margin-bottom: 10px }
/* Pre
-------------------------------------------------------------- */
.styled_pre_box { color: #666; background: #F9F9F9; border-color: #D9D9D9 #EAEAEA #FFFFFF; }
.styled_code_box { background: url(images/code.png) repeat 0 1px #F6F6F6; border-color: #ddd; }
/* Popular/Related/Recent Posts
-------------------------------------------------------------- */
.small_post_list .post_title { padding-bottom: 0 }
.small_post_list .post_title a { font-size: 15px }
/* Search
-------------------------------------------------------------- */
#searchform { display: block; height: 30px; margin-top: 5px;}
#searchform #searchsubmit { position: relative; float: right; top: -1px; border: 0 none; cursor: pointer; }
#searchform #searchsubmit:hover { background-position: right -30px }
#searchform div { padding-right: 100px }
#searchform #s { float: left; width: 100%; color: #666; }
#searchform #s:focus { outline: none }
/* Twitter Widget
-------------------------------------------------------------- */
.alli_twitter_widget { position: relative; overflow: visible; }
.alli_twitter_widget li { padding-left: 0; background: none; }
.alli_twitter_widget a { min-height: 21px; padding-left: 30px!important; background: url('images/assets/twitter_icon_blue.png') 0px 2px no-repeat; }
/* Tag Cloud
-------------------------------------------------------------- */
.widget_tag_cloud { text-align: justify }
.widget_tag_cloud a { float: left; margin: 0 5px 5px 0; padding: 5px; background: #eee; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;font-size:8pt !important; }
/* Calendar & Other Tables
-------------------------------------------------------------- */
table { width: 100%; margin-bottom: 18px; border-collapse: separate; border-spacing: 0; }
table, td, th { vertical-align: middle }
th { padding: 10px; color: #666; border-top: 1px solid #fff; text-transform: uppercase; }
td { padding: 10px; color: #888; }
tfoot td { border: 0px }
th, tr:hover { background-color: #f5f5f5 }
#wp-calendar { font-size: 12px; border-collapse: separate; }
#wp-calendar, #wp-calendar th { border-color: #2E353D }
#wp-calendar td { padding: 10px; color: #888; }
#wp-calendar th { padding: 10px; color: #666; border-top: 1px solid #fff; font-weight: bold; text-transform: uppercase; }
.widget_calendar tfoot td { background-image: none }
.widget_calendar a { text-decoration: underline }
/* Recent Comments
-------------------------------------------------------------- */
.wp-pagenavi .pagenavi-page:hover { }
/*
===============================================================================================================
07. SLIDERS
=============================================================================================================== */
#slider_module { position: relative; width: 640px; height: 365px; margin-bottom: 40px; clear: both; overflow: hidden; }
#slider_module .video_frame { position: relative; z-index: 10; }
#slider_module_inner { width: 640px }
#slider_module .video_frame { padding: 0; border: 0; outline: 0; }
/* Nivo */
#alli_nivo_slider { width: 640px }
#alli_nivo_slider #nivo_slider span { display: block }
#alli_nivo_slider #nivo_slider span a { display: block }
.nivoSlider {width:640px !important;}
.nivo_caption p {color:#f2f2f2;}
.nivo-controlNav { clear: both; display: block; width: 100%; padding: 0; text-align: right; margin-top: 370px; margin-bottom: 12px; }
.nivo-controlNav a.active img { opacity: 1.0 }
.nivo-controlNav a { position: relative; display: inline-block; float: left; width: 110px; height: 65px; font-size: 0px; text-indent: -9999px; overflow: hidden; margin-right: 12px; }
.nivo-controlNav a:nth-child(6) { margin-right: 0 }
.nivo-controlNav a img { width: 110px; height: 65px; opacity: .6; }
.nivo-controlNav a img:hover { -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out; transition: all .3s ease-in-out; opacity: 0.7; }
.nivo-controlNav a.active img:hover { -webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none; opacity: 1; cursor: default; }
.nivo_slider #slider_module_inner { }
.nivo-caption h2 { display: block; margin-bottom: 0; padding-bottom: 0; color: #fff; font-size: 19px; line-height: 30px; }
.nivo-imageLink { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; border: 0; padding: 0; margin: 0; }
/*
===============================================================================================================
08. MISCELLANEOUS
=============================================================================================================== */
.ads { margin-left: 10px }
.ads a img { float: left; margin-right: 10px; margin-bottom: 10px; display: inline; /*fixes ie6 bug*/ }
.ads a:nth-child(2n) img { margin-right: 0; margin-left: 0; }
.ads p { text-align: center }
.ads p a { font-size: 10px; text-decoration: underline; margin-bottom: 0; padding-bottom: 0; line-height: 10px; }
.facebook_like iframe[style] { width: 100% !important }
.feed-counter div { width: 30%; position: relative; margin-right: 5%; margin-bottom: 20px; float: left; height: 100px; }
.feed-counter div:last-child { margin-right: 0!important; clear: right; }
li.menu_highlight > a { color: #ffb5b3 }
